# Dealing With Categorical Variables

Categorical variables are variables that represent data with distinct, finite categories or labels. These variables typically describe qualities or characteristics that do not have a meaningful numerical relationship, unlike continuous or ordinal variables. Categorical data can take on a limited number of values, each representing a different category or group.

There are two main types of categorical variables:

    Nominal variables: These represent categories without any intrinsic order or ranking. Examples include:
        Gender (Male, Female, Other)
        Color (Red, Blue, Green)
        Country (USA, Canada, UK)

    Ordinal variables: These represent categories with a meaningful order or ranking, but the intervals between the categories may not be equal. Examples include:
        Education level (High School, Bachelor's, Master's, PhD)
        Rating scale (Poor, Fair, Good, Excellent)
        Class levels (Freshman, Sophomore, Junior, Senior)

In [627]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

## Load the data set

In [628]:
df =  pd.read_csv("./data/auto-mpg.csv")
df.head(10)

    mpg  cylinders  displacement  ...  model year  origin                   car name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino
5  15.0          8         429.0  ...          70       1           ford galaxie 500
6  14.0          8         454.0  ...          70       1           chevrolet impala
7  14.0          8         440.0  ...          70       1          plymouth fury iii
8  14.0          8         455.0  ...          70       1           pontiac catalina
9  15.0          8         390.0  ...          70       1         amc ambassador dpl

[10 rows x 9 columns]

## Feature Engineering

In [629]:
# create a new column called make
df["make"] = df["car name"].apply(lambda x: str.split(x)[0])
df

      mpg  cylinders  ...                   car name       make
0    18.0          8  ...  chevrolet chevelle malibu  chevrolet
1    15.0          8  ...          buick skylark 320      buick
2    18.0          8  ...         plymouth satellite   plymouth
3    16.0          8  ...              amc rebel sst        amc
4    17.0          8  ...                ford torino       ford
..    ...        ...  ...                        ...        ...
387  27.0          4  ...            ford mustang gl       ford
388  44.0          4  ...                  vw pickup         vw
389  32.0          4  ...              dodge rampage      dodge
390  28.0          4  ...                ford ranger       ford
391  31.0          4  ...                 chevy s-10      chevy

[392 rows x 10 columns]

## info

using info  to identify categorical variables

In [630]:
# df["mpg"] = df["mpg"].astype(object)

In [631]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   make          392 non-null    object
dtypes: float64(3), int64(5), object(2)
memory usage: 30.8+ KB

## Numeric Variables

### Numeric variables can be either continuous or discrete.

Continuous variables correspond to "real numbers" in mathematics, and floating point numbers in code. Essentially these variables can have any value on the number line, and usually have a decimal place in their code representation.

In [659]:
# example of numeric variable
df["weight"]

0      3504
1      3693
2      3436
3      3433
4      3449
       ...
387    2790
388    2130
389    2295
390    2625
391    2720
Name: weight, Length: 392, dtype: int64

Discrete numeric variables typically correspond to "whole numbers" in mathematics, and integers in code. These variables have gaps between their values.

In [661]:
# example of decrete numeric variable
df["cylinders"].value_counts()

cylinders
4    199
8    103
6     83
3      4
5      3
Name: count, dtype: int64

## Categorical Variables

### Categorical variables can actually be strings or numbers.

String categorical variables will be fairly obvious due to their data type (object in pandas). For example, make is a categorical variable. It cannot be used in a scatter plot, and it will cause an error if you try to use it in a multiple regression model without additional transformations.

In [662]:
# example of a categorical variable 
df["make"]

0      chevrolet
1          buick
2       plymouth
3            amc
4           ford
         ...
387         ford
388           vw
389        dodge
390         ford
391        chevy
Name: make, Length: 392, dtype: object

In [665]:
# value counts
df["make"].value_counts()

make
ford             48
chevrolet        43
plymouth         31
dodge            28
amc              27
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
oldsmobile       10
mazda            10
peugeot           8
fiat              8
audi              7
vw                6
volvo             6
chrysler          6
saab              4
subaru            4
opel              4
chevy             3
renault           3
cadillac          2
bmw               2
mercedes-benz     2
maxda             2
hi                1
toyouta           1
chevroelt         1
capri             1
mercedes          1
vokswagen         1
triumph           1
nissan            1
Name: count, dtype: int64

### plotting

In [636]:
# plotting in built

### seaborn

In [637]:
# plotting sns

Discrete number categorical variables can be more difficult to spot. For example, origin is actually a categorical variable in this dataset, even though it is encoded as a number.

In [638]:
# decrete categorical variables counter

In [639]:
# US to Europe, or Europe to Asia

## Transforming Categorical Variables with One-Hot Encoding

One-hot encoding is a technique used to convert categorical variables into a numerical format that can be used in machine learning models. It is particularly useful for handling nominal categorical variables, which do not have an inherent order or ranking.

In [640]:
# make a copy

In [641]:
# manual encoding

## using Get dummies

In [642]:
# using get dummies

In [643]:
# research use category encoders

## The Dummy Variable Trap

Due to the nature of how dummy variables are created, one variable can be predicted from all of the others. For example, if you know that origin_1 is 0 and origin_2 is 0, then you already know that origin_3 must be 1.

In [644]:
# making predictions

This is known as perfect multicollinearity and it can be a problem for regression. Multicollinearity will be covered in depth later but the basic idea behind perfect multicollinearity is that you can perfectly predict what one variable will be using some combination of the other variables.

When features in a linear regression have perfect multicollinearity due to the algorithm for creating dummy variables, this is known as the dummy variable trap.

### Avoiding the dummy variable trap

In [645]:
# avoiding the dummy variable trap

## Multiple Regression with One-Hot Encoded Variables

In [646]:
# defining our x and y
y = df["mpg"]
X = df[["weight", "model year", "origin"]]
X

     weight  model year  origin
0      3504          70       1
1      3693          70       1
2      3436          70       1
3      3433          70       1
4      3449          70       1
..      ...         ...     ...
387    2790          82       1
388    2130          82       2
389    2295          82       1
390    2625          82       1
391    2720          82       1

[392 rows x 3 columns]

### One hot encoding

In [647]:
# one hot encoding

## Modeling

in stats models

In [648]:
# ols model

### ploting

In [649]:
# plotting in smgrephics  reg_ress_plot

## Scikit Learn

In [650]:
# in Sckit learn

### Compare results

In [651]:
def print_results(sk_model,ols_model):
    print(f"""


StatsModels intercept:    {ols_model.params["const"]}
scikit-learn intercept:   {sk_model.intercept_}

StatsModels coefficient:\n{ols_model.params}
scikit-learn coefficient: {sk_model.coef_}
""")

### Assignment

In [652]:
# build a model with make as a variable with make as a varible guide

# https://moringa.instructure.com/courses/895/assignments/63678?module_item_id=144477

In [653]:
from sklearn.preprocessing import OneHotEncoder

In [654]:
ohe =  OneHotEncoder(sparse_output=False)
encoded =  ohe.fit_transform(X=X[["origin"]])
ohe.get_feature_names_out()

array(['origin_1', 'origin_2', 'origin_3'], dtype=object)

In [655]:
encoded_df = pd.DataFrame(encoded,columns=ohe.get_feature_names_out())

In [656]:
df_final = pd.concat([X,encoded_df],axis=1)
df_final

     weight  model year  origin  origin_1  origin_2  origin_3
0      3504          70       1       1.0       0.0       0.0
1      3693          70       1       1.0       0.0       0.0
2      3436          70       1       1.0       0.0       0.0
3      3433          70       1       1.0       0.0       0.0
4      3449          70       1       1.0       0.0       0.0
..      ...         ...     ...       ...       ...       ...
387    2790          82       1       1.0       0.0       0.0
388    2130          82       2       0.0       1.0       0.0
389    2295          82       1       1.0       0.0       0.0
390    2625          82       1       1.0       0.0       0.0
391    2720          82       1       1.0       0.0       0.0

[392 rows x 6 columns]

In [657]:
! pip install category_encoders

Requirement already satisfied: category_encoders in ./venv/lib/python3.12/site-packages (2.6.4)
Requirement already satisfied: numpy>=1.14.0 in ./venv/lib/python3.12/site-packages (from category_encoders) (2.1.3)
Requirement already satisfied: scikit-learn>=0.20.0 in ./venv/lib/python3.12/site-packages (from category_encoders) (1.5.2)
Requirement already satisfied: scipy>=1.0.0 in ./venv/lib/python3.12/site-packages (from category_encoders) (1.14.1)
Requirement already satisfied: statsmodels>=0.9.0 in ./venv/lib/python3.12/site-packages (from category_encoders) (0.14.4)
Requirement already satisfied: pandas>=1.0.5 in ./venv/lib/python3.12/site-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in ./venv/lib/python3.12/site-packages (from category_encoders) (1.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: joblib>=1.2.0 in ./venv/lib/python3.12/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./venv/lib/python3.12/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in ./venv/lib/python3.12/site-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [658]:
import category_encoders as encoders

ohe =  encoders.OneHotEncoder(cols=["origin"],drop_invariant=True,)



transformed_df = ohe.fit_transform(X)
transformed_df

     weight  model year  origin_1  origin_2  origin_3
0      3504          70         1         0         0
1      3693          70         1         0         0
2      3436          70         1         0         0
3      3433          70         1         0         0
4      3449          70         1         0         0
..      ...         ...       ...       ...       ...
387    2790          82         1         0         0
388    2130          82         0         0         1
389    2295          82         1         0         0
390    2625          82         1         0         0
391    2720          82         1         0         0

[392 rows x 5 columns]